<div>
    <h2 id="page-heading">
        <span>Item Listas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-item-lista" [routerLink]="['/item-lista/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Item Lista
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="itemListas?.length === 0">
        <span>No itemListas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="itemListas && itemListas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span>Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="preco"><span>Preco</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lista.id"><span>Lista</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let itemLista of itemListas ;trackBy: trackId">
                    <td><a [routerLink]="['/item-lista', itemLista.id, 'view']">{{ itemLista.id }}</a></td>
                    <td>{{ itemLista.nome }}</td>
                    <td>{{ itemLista.preco }}</td>
                    <td>
                        <div *ngIf="itemLista.lista">
                            <a [routerLink]="['/lista', itemLista.lista?.id, 'view']" >{{ itemLista.lista?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/item-lista', itemLista.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/item-lista', itemLista.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(itemLista)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="itemListas && itemListas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
